
<%= render 'shared/errors', obj: @chef %>
<div class="row">
  <div class="well col-md-8 col-md-offset-2">
  
  <%= form_for @chef do |f| %>
  <%= f.label :"Naam en Voornaam" %>
  <%= f.text_field :chefname %>
  
  <%= f.label :"E-mailadres" %>
  <%= f.email_field :email %>
  
  <%= f.label :Paswoord %>
  <%= f.password_field :password, row: 10%>
  
  
  
  <%= f.submit(@chef.new_record? ?  "Registereren" : "Uw profiel bewerken", class: "btn btn-success") %>
  
  <% end %>
  
</div>
</div>