

<%= render 'shared/errors', obj: @recipe %>
<div class="row">
  <div class="well col-md-8 col-md-offset-2">
  
 
  <%= form_for @recipe, :html => { :multipart => true } do |f| %>
  <%= f.label :"Naam van recept" %>
  <%= f.text_field :naam %>
  
  <%= f.label :Overzicht %>
  <%= f.text_field :overzicht %>
  
  <%= f.label :Ingredienten %>
  <%= f.text_area  :ingredient, row: 10%>
  
  <%= f.label :Instructies %>
  <%= f.text_area  :beschrijving, row: 20%>
  
  
  
  <span class="picture">
    <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %>
  </span>
  
  <%= f.submit(@recipe.new_record? ?  "Recept maken" : "Recept bewerken", class: "btn btn-success") %>
  
  <% end %>
  
</div>
</div>

<script type="text/javascript">
$('#recipe_picture').bind('change', function() {
  size_in_megabytes = this.file[0].size/1024/1024;
  if (size_in_megabytes > 5) {
    alert('Maximum bestand groot is 5MB')
    }
});
</script>